<h2>Login</h2>

<input id="email" placeholder="Email">
<input id="password" type="password" placeholder="Senha">

<br><br>

<button onclick="login()">Entrar</button>
<button onclick="register()">Cadastrar</button>

<script>
function login(){
    fetch("/login", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            email:email.value,
            password:password.value
        })
    })
    .then(res => res.json().then(data => ({ ok: res.ok, data })))
    .then(({ ok, data }) => {
        if(ok && data.access_token){
            localStorage.setItem("token", data.access_token)

            // limpa campos
            email.value = ""
            password.value = ""

            window.location="/dashboard"
        }else{
            alert(data.msg || "Erro no login")
        }
    })
}

function register(){
    fetch("/register", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            email:email.value,
            password:password.value
        })
    })
    .then(res => res.json().then(data => ({ ok: res.ok, data })))
    .then(({ ok, data }) => {
        if(ok){
            alert("Usuário criado com sucesso!")

            // limpa campos
            email.value = ""
            password.value = ""
        }else{
            alert(data.msg || "Erro ao cadastrar")
        }
    })
}
</script>